*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font: inherit;
}

.main_wrapper{
    height: 100vh;
    background-color: aqua;
    padding: 100px;
    background-image: linear-gradient(60deg, rgb(75, 3, 184), rgb(153, 67, 206), rgb(172, 137, 193));
    overflow: auto;
}
.main_content_area{
    display: grid;
    justify-items: stretch;
    gap: 50px;
}
.control_box{
    width: 30%;
    min-width: 200px;
    max-width: 400px;
    height: 150px;
    background-color: rgb(172, 137, 193);
    border-radius: 25px;
    display: grid;
    place-content: center;
    padding: 20px;
    justify-self: center;
}
.control_box>button{
    box-sizing: content-box;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 1rem;
    border: none;
    background-color: rgb(123, 220, 123);
    color: rgb(0, 104, 0);
    font-weight: bold;
    text-wrap: nowrap;
}
.book_display{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,250px));
    gap: 30px 50px;
    justify-content: center;
}
.book_card{
    background-image: linear-gradient(60deg, rgb(59, 4, 198), rgb(116, 0, 232));
    border-radius: 15px;
    color: rgb(172, 137, 193);
    padding: 20px;
    display: grid;
    gap: 20px;
    height: 440px;
    box-shadow: 0 0 20px rgb(251, 177, 255);
}
.book_card img{
    width: 100%;
    border-radius: 10px;
}
.book_card_btn_holder{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.book_card_btn_holder>button{
    height: 40px;
    border-radius: 10px;
    color: rgb(136, 0, 0);
    background-color: rgb(255, 102, 102);
    font-weight: bold;
}
.book_card_btn_holder>button:hover{
    opacity: 50%;
}

/* dialog box styles */
dialog{
    position: absolute;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
dialog form{
    padding: 30px;
    background-color: rgb(99, 59, 199);
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}
.form_cells{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}
.form_cells input{
    border-radius: 5px;
    background-color:rgb(161, 146, 199);
    padding: 5px 5px 5px 10px;
}
.form_cells:last-of-type{
    justify-content: center;
    align-items: center;
}
.form_cells:last-of-type>button{
    padding: 8px 10px;
    border-radius: 5px;
    background-color: rgb(123, 220, 123);
    color: rgb(0, 104, 0);
    font-weight: bold;
}